/* .dayTile {
  background-color: red;
  color: maroon;
}

.tileTitle {
  color: white;
  background-color: mediumblue;
}

.dateText {
  color: magenta;
  background-color: mediumaquamarine;
}

.weatherIcon {
  color: mediumpurple;
  background-color: mediumseagreen;
}

.temp {
  color: midnightblue;
  background-color: moccasin;
}

.description {
  color: olive;
  background-color: orange;
} */
